<!DOCTYPE html>
<html class="no-js" lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- basic page needs ================================================== -->
    <meta charset="utf-8">
    <title>ChamaElas</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS ================================================== -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/main.css"> <!-- Este é o arquivo principal de estilos -->
    <link rel="stylesheet" href="/css/custom-styles.css"> <!-- Este arquivo contém estilos personalizados -->

    <!-- favicons ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body id="top">

<div class="container">

    <header class="s-header">
        <!-- Seu código de cabeçalho aqui -->
    </header>

    <div class="col-six tab-full">
        <div class="custom-form">
            <h2 class="mover-titulo2">Olá, <span th:text="${nomeUsuario}"></span>!</h2>
            <br>
            <br>
        </div>
    </div>

    <div class="home-content__button  mover-btn">
        <form action="/logout" method="post">
            <input class="btn--primary full-width" type="submit" value="Sair" style="border-radius: 5px; margin-left: 53px;">
        </form>
    </div>

    <div class="filter-chamados">
        <h6 class="filter-title">Filtrar chamados:</h6>
        <div class="select-container">
            <select class="custom-select" id="status" required onchange="filtrarChamados()">
                <option value="" style="color: black;">Selecione o status do chamado</option>
                <option value="Aguardando técnico" style="color: black;">Aberto</option>
                <option value="Finalizado" style="color: black;">Finalizado</option>
                <option value="Em atendimento" style="color: black;">Em andamento</option>
            </select>
        </div>
    </div>

    <div class="form-and-table row">
        <div class="mover-tabela">
            <div class="col-six tab-full" style="margin-top: -100px; width: 100%;">
                <h3>Chamados</h3>
                <div class="table-responsive">
                    <div class="col-six tab-full chamados-count" style="margin-bottom: 400px; display: flex;">
                        <p class="abertos">Abertos: <span th:text="${quantidadeAbertos != null ? quantidadeAbertos : '0'}"></span></p>
                        <p class="andamento">Em andamento: <span th:text="${quantidadeEmAndamento != null ? quantidadeEmAndamento : '0'}"></span></p>
                        <p class="finalizados">Finalizados: <span th:text="${quantidadeFinalizados != null ? quantidadeFinalizados : '0'}"></span></p>
                        <br>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    <div class="form-and-table row">
        <div class="mover-tabela" style="margin-top: 130px;">
            <div class="col-six tab-full" style="margin-top: 20px;">
                <div class="table-responsive">
                    <table class="custom-table" style="width: 100%;" id="chamadosTable">
                        <thead>
                        <tr>
                            <th>Título</th>
                            <th>Descrição</th>
                            <th>Data de início</th>
                            <th>Setor</th>
                            <th>Cliente</th>
                            <th>Técnico</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="chamado : ${listaChamados}">
                            <td th:text="${chamado.titulo}"></td>
                            <td th:text="${chamado.descricao}"></td>
                            <td th:text="${#dates.format(chamado.dataRegistroAtualizada, 'dd-MM-yyyy - HH:mm')}"></td>
                            <td th:text="${chamado.setor != null ? chamado.setor : 'Nenhum setor atribuído'}"></td>
                            <td th:text="${chamado.cliente != null ? chamado.cliente.nome : 'Nenhum cliente atribuído'}"></td>
                            <td th:text="${chamado.tecnico != null ? chamado.tecnico.nome : 'Nenhum técnico atribuído'}"></td>
                            <td th:text="${chamado.status.descricao}"></td>
                            <form id="form-excluir-chamado-${chamado.ticketId}" action="/excluir-chamadoAdmin" method="get">
                                <input type="hidden" id="chamadoId-${chamado.ticketId}" name="chamadoId" th:value="${chamado.ticketId}">

                                <td>
                                    <div class="home-content__button" style="margin-top: 0.5rem;">
                                        <input class="btn--primary full-width" type="button" value="Excluir" th:onclick="'confirmarExclusao(\'' + ${chamado.ticketId} + '\')'" style="border-radius: 5px;">
                                    </div>
                                </td>
                            </form>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>

            </div>
        </div>
    </div>
</div>

<!-- Caixa de login do usuário -->
<div class="user-login-info" style="border-radius: 5px;">
    <i class="fas fa-envelope"></i> <!-- Ícone de e-mail -->
    <!-- Aqui você pode adicionar os detalhes do login do usuário -->
    Usuário: Admin <br>
    <!-- Adicione mais informações conforme necessário -->
</div>

<!-- Java Script ================================================== -->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
<script>
    function filtrarChamados() {
        var select = document.getElementById("status");
        var value = select.options[select.selectedIndex].value;
        var rows = document.getElementById("chamadosTable").getElementsByTagName("tbody")[0].getElementsByTagName("tr");
        for (var i = 0; i < rows.length; i++) {
            var status = rows[i].getElementsByTagName("td")[6].innerText.trim();
            if (value === "" || status === value) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }


    function confirmarExclusao(chamadoId) {
     if (confirm("Tem certeza de que deseja excluir este chamado?")) {
            window.location.href = "/excluir-chamadoAdmin?chamadoId=" + chamadoId;
        }
    }
</script>
</script>
</body>
</html>
