<!DOCTYPE html>
        <html class="no-js" lang="pt-br">
        <head>

        <!--- basic page needs
        ================================================== -->
        <meta charset="utf-8">
        <title>ChamaElas</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
            <link rel="stylesheet" href="../static/css/base.css">
            <link rel="stylesheet" href="../static/css/vendor.css">
            <link rel="stylesheet" href="../static/css/main.css">

    <!-- script
    ================================================== -->
    <script src="../static/js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>


<body id="top">

<!-- preloader
================================================== -->
<div id="preloader">
    <div id="loader" class="dots-jump">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- header
================================================== -->
<header class="s-header">


    <nav class="header-nav">

        <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

        <h3>Menu</h3>

        <div class="header-nav__content">

            <ul class="header-nav__list">
                <li><a class="smoothscroll" href="#home" title="home">Início</a></li>
                <li><a class="smoothscroll" href="#about" title="about">Sobre nós</a></li>
                <li><a class="smoothscroll" href="#services" title="services">Sistema</a></li>
                <li><a class="smoothscroll" href="#contact" title="contact">Contato</a></li>
            </ul>

            <p>© 2024 ChamaElas. Todos os direitos reservados.</p>


        </div> <!-- end header-nav__content -->

    </nav> <!-- end header-nav -->

    <a class="header-menu-toggle" href="#0">
        <span class="header-menu-icon"></span>
    </a>

</header> <!-- end s-header -->




<div class="buttons-container">
    <p>
        <a class="btn btn--primary full-width" href="#0">Usuário</a>
        <a class="btn full-width" href="#0">Técnico</a>
        <a class="btn btn--stroke full-width" href="#0">Administrador</a>
    </p>
</div>



</section> <!-- end s-contact -->


    <!-- Java Script
    ================================================== -->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>

</body></title>
</head>
<body>

</body>
</html>