<!DOCTYPE html>
<html class="no-js" lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>ChamaElas</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>


<body id="top">

<!-- preloader
================================================== -->
<div id="preloader">
    <div id="loader" class="dots-jump">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- header
================================================== -->
<header class="s-header">


    <nav class="header-nav">

        <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

        <h3>Menu</h3>

        <div class="header-nav__content">

            <ul class="header-nav__list">
                <li><a class="smoothscroll" href="#home" title="home">Início</a></li>
                <li><a class="smoothscroll" href="#about" title="about">Sobre nós</a></li>
                <li><a class="smoothscroll" href="#services" title="services">Sistema</a></li>
                <li><a class="smoothscroll" href="#contact" title="contact">Contato</a></li>
            </ul>

            <p>© 2024 ChamaElas. Todos os direitos reservados.</p>


        </div> <!-- end header-nav__content -->

    </nav> <!-- end header-nav -->

    <a class="header-menu-toggle" href="#0">
        <span class="header-menu-icon"></span>
    </a>

</header> <!-- end s-header -->


<!-- home
================================================== -->
<section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="/images/foto.index.jpg"
         data-natural-width=3000 data-natural-height=2000 data-position-y=center>

    <div class="grid-overlay">
        <div></div>
    </div>

    <div class="home-content">

        <div class="row home-content__main">

            <h1>
                ChamaElas
            </h1>

            <h3>
                O Melhor Software de gerenciamento de chamados.
            </h3>


            <div class="home-content__button">
                <a href="#about" class="smoothscroll btn btn--primary btn--large">
                    Sobre nós
                </a>
                <a href="/cadastro-usuario" class="btn btn--large">
                    Teste grátis
                </a>
            </div>

        </div> <!-- end home-content__main -->


    </div> <!-- end home-content -->


</section> <!-- end s-home -->


<!-- about
================================================== -->

<!-- services
================================================== -->
<section id='services' class="s-services target-section darker">

    <div class="row section-header bit-narrow" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">Sobre nós</h3>
            <h1 class="display-1">
                A ChamaElas é uma plataforma de gerenciamento de chamados de suporte técnico desenvolvida por uma equipe
                de mulheres e fundada a partir de 2024, oferecendo uma solução eficiente e inovadora para empresas de
                diversos setores.
            </h1>
        </div>
    </div> <!-- end section-header -->

    <div class="row bit-narrow services block-1-2 block-tab-full">

        <div class="item-service__text">
            <h3 class="item-title">Usuário</h3>
            <p>Como usuário da plataforma, você tem acesso a uma série de funcionalidades essenciais para o
                gerenciamento eficiente de suporte técnico. Isso inclui a capacidade de visualizar todos os chamados que
                você abriu anteriormente, permitindo um acompanhamento transparente do progresso e das soluções
                fornecidas. Além disso, você pode facilmente criar novos chamados, garantindo que qualquer problema ou
                dúvida seja rapidamente comunicado e resolvido pela nossa equipe de suporte especializada.
            </p>
        </div>
    </div>


    <div class="row bit-narrow services block-1-2 block-tab-full">

        <div class="item-service__text">
            <h3 class="item-title">Técnico</h3>
            <p>Como técnico, você desfruta de recursos abrangentes para gerenciar eficientemente os chamados de suporte
                técnico. Isso inclui a capacidade de visualizar todos os chamados disponíveis, bem como aqueles
                atribuídos especificamente a você. Além disso, você tem o poder de modificar o status dos chamados
                conforme necessário, garantindo uma resposta ágil e precisa às necessidades dos usuários. Essas
                ferramentas permitem que você mantenha um controle completo sobre o fluxo de trabalho e ofereça suporte
                de alta qualidade aos nossos clientes.
            </p>
        </div>
    </div>

    <div class="row bit-narrow services block-1-2 block-tab-full">

        <div class="item-service__text">
            <h3 class="item-title">Administrador</h3>
            <p>Com visão abrangente sobre todos os chamados, o módulo de administrador oferece informações cruciais,
                incluindo números de chamados abertos, em execução e aguardando resolução. Além disso, permite o
                gerenciamento completo do sistema, possibilitando a definição de setores da empresa e seus tipos de
                prioridade.
            </p>
        </div>
    </div>

    <div class="row bit-narrow services block-1-2 block-tab-full">
        <div class="item-service__text">
            <h3 class="item-title">Chamado</h3>
            <p>O módulo de chamado oferece uma gama de recursos essenciais para uma comunicação detalhada e eficaz. Os
                usuários podem definir a prioridade do problema, fornecer uma descrição detalhada da questão e até mesmo
                anexar imagens relevantes para uma melhor compreensão e resolução por parte dos técnicos.
            </p>
        </div>
    </div>


</section> <!-- end s-services -->


<!-- works
================================================== -->
<section id="works" class="s-works target-section">

    <div class="row section-header has-bottom-sep narrow target-section" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">Nossas Telas</h3>
            <h1 class="display-1">

                Nossa plataforma se destaca não apenas pela sua funcionalidade, mas também pela sua interface intuitiva
                e de fácil utilização.
            </h1>
        </div>
    </div> <!-- end section-header -->

    <div class="row masonry-wrap">

        <div class="masonry">

            <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/images/foto.jpg" class="thumb-link" title="Shutterbug"
                           data-size="1050x700">
                            <img src="/images/foto.jpg" style="border : 0.5px solid #FFD900">
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Login
                        </h3>
                        <p class="item-folio__cat">
                            Tela
                        </p>
                    </div>

                    <a href="" class="item-folio__project-link" title="Project link">
                        <i class="icon-link"></i>
                    </a>

                    <div class="item-folio__caption">

                    </div>

                </div>
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/images/portfolio/gallery/g-woodcraft.jpg" class="thumb-link" title="Woodcraft"
                           data-size="1050x700">
                            <img src="/images/formulario.jpg" style="border : 0.5px solid #FFD900">
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Formulário
                        </h3>
                        <p class="item-folio__cat">
                            Tela
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="icon-link"></i>
                    </a>

                    <div class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem
                            corrupti neque nisi.</p>
                    </div>

                </div>
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/images/portfolio/gallery/g-beetle.jpg" class="thumb-link" title="The Beetle Car"
                           data-size="1050x700">

                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Chamados técnico
                        </h3>
                        <p class="item-folio__cat">
                            Tela
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="icon-link"></i>
                    </a>

                    <div class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem
                            corrupti neque nisi.</p>
                    </div>

                </div>
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/images/portfolio/gallery/g-salad.jpg" class="thumb-link" title="Grow Green"
                           data-size="1050x700">
                            <img src="/images/formulario.jpg" style="border : 0.5px solid #FFD900">
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Chamado
                        </h3>
                        <p class="item-folio__cat">
                            Tela
                        </p>
                    </div>

                    <a href="" class="item-folio__project-link" title="Project link">
                        <i class="icon-link"></i>
                    </a>

                    <div class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem
                            corrupti neque nisi.</p>
                    </div>

                </div>
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/images/portfolio/gallery/g-lamp.jpg" class="thumb-link" title="Guitarist"
                           data-size="1050x700">
                            <img src="/images/token.jpg" style="border : 0.5px solid #FFD900">
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Validação de Token
                        </h3>
                        <p class="item-folio__cat">
                            Tela
                        </p>
                    </div>

                    <a href="" class="item-folio__project-link" title="Project link">
                        <i class="icon-link"></i>
                    </a>

                    <div class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem
                            corrupti neque nisi.</p>
                    </div>

                </div>
            </div> <!-- end masonry__brick -->


        </div> <!-- end masonry -->

    </div> <!-- end masonry-wrap -->

</section> <!-- end s-works -->


<!-- time
================================================== -->
<section id="team" class="s-team target-section">
    <div class="container text-center">
        <div class="row">
            <div class="col-md- team-member">
                <img src="../static/images/foto.index.jpg" alt="">
                <img src="/images/foto.index.jpg" alt="">
                <img src="/images/foto.index.jpg" alt="">

            </div>
            <div class="container text-center">
                <img src="../static/images/foto.index.jpg" alt="">
                <img src="../static/images/foto.index.jpg" alt="">
                <img src="../static/images/foto.index.jpg" alt="">

            </div>
        </div>

    </div>
</section>


<!-- end s-clients -->


<!-- testimonies
================================================== -->
<section class="s-testimonials">

    <div class="testimonials__icon" data-aos="fade-up"></div>

    <div class="row testimonials narrow">

        <div class="col-full testimonials__slider" data-aos="fade-up">

            <div class="testimonials__slide">
                <p>Qui ipsam temporibus quisquam vel. Maiores eos cumque distinctio nam accusantium ipsum.
                    Laudantium quia consequatur molestias delectus culpa facere hic dolores aperiam.
                    Accusantium
                    quos
                    qui praesentium corpori.</p>
                <div class="testimonials__author">

                </div>
            </div> <!-- end testimonials__slide -->

            <div class="testimonials__slide">
                <p>Excepturi nam cupiditate culpa doloremque deleniti repellat. Veniam quos repellat
                    voluptas animi
                    adipisci.
                    Nisi eaque consequatur. Quasi voluptas eius distinctio. Atque eos maxime. Qui ipsam
                    temporibus
                    quisquam vel.</p>
                <div class="testimonials__author">
                    Sundar Pichai
                    <span>CEO, Google</span>
                </div>
            </div> <!-- end testimonials__slide -->

            <div class="testimonials__slide">
                <p>Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia
                    nesciunt.
                    Ducimus aut sed ipsam.
                    Autem eaque officia cum exercitationem sunt voluptatum accusamus. Quasi voluptas eius
                    distinctio.</p>
                <div class="testimonials__author">
                    Satya Nadella
                    <span>CEO, Microsoft</span>
                </div>
            </div> <!-- end testimonials__slide -->

        </div> <!-- end testimonials__slider -->

    </div> <!-- end testimonials -->

</section> <!-- end s-testimonials -->


<!-- contact
================================================== -->
<section id="contact" class="s-contact target-section">

    <div class="grid-overlay">
        <div></div>
    </div>

    <div class="row section-header narrow" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">Keep In Touch</h3>
            <h1 class="display-1">Feel free to contact us for any <br> project idea or collaboration</h1>
        </div>
    </div> <!-- end section-header -->

    <div class="row contact-main" data-aos="fade-up">
        <div class="col-full">
            <p class="contact-email">
                <a href="mailto:#0">sayhello@sublime.com</a>
            </p>
            <p class="contact-address">
                1600 Amphitheatre Parkway <br>
                Mountain View, CA, 94043 US
            </p>
            <p class="contact-numbers">
                +1 (917) 123 456 &nbsp; +1 (917) 333 987
            </p>

            <ul class="contact-social">
                <li>
                    <a href="#0"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fab fa-behance"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fab fa-dribbble"></i></a>
                </li>
            </ul>
        </div>
    </div>

</section> <!-- end s-contact -->


<!-- footer
================================================== -->
<footer>
    <div class="row">
        <div class="col-full ss-copyright">
            <span>© Copyright Sublime 2018</span>
            <span>Design by <a href="">Styleshout</a></span>
        </div>
    </div>

    <div class="ss-go-top">
        <a class="btn btn--primary btn--small btn--centered" href="#top">Primary Button</a>
    </div>

</footer>


<!-- photoswipe background
================================================== -->
<div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">

        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title=
                        "Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title=
                        "Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title=
                    "Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>

    </div>


</div> <!-- end photoSwipe background -->


<!-- Java Script
================================================== -->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>

</body>

</html>