<!DOCTYPE html>
<html class="no-js" lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--- basic page needs ================================================== -->
    <meta charset="utf-8">
    <title>ChamaElas</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- mobile specific metas ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS ================================================== -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- script ================================================== -->
    <script src="/js/modernizr.js"></script>
    <!-- favicons ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body id="top">
<!-- preloader ================================================== -->
<div id="preloader">
    <div id="loader" class="dots-jump">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- header ================================================== -->
<header class="s-header">
    <nav class="header-nav">
        <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>
        <h3>Menu</h3>
        <div class="header-nav__content">
            <ul class="header-nav__list">
                <li><a class="smoothscroll" href="#home" title="home">Início</a></li>
                <li><a class="smoothscroll" href="#about" title="about">Sobre nós</a></li>
                <li><a class="smoothscroll" href="#services" title="services">Sistema</a></li>
                <li><a class="smoothscroll" href="#contact" title="contact">Contato</a></li>
            </ul>
            <p>© 2024 ChamaElas. Todos os direitos reservados.</p>
        </div> <!-- end header-nav__content -->
    </nav> <!-- end header-nav -->
    <a class="header-menu-toggle" href="#0">
        <span class="header-menu-icon"></span>
    </a>
</header>
<!-- end s-header -->


<div class="container">
    <div class="row">
        <div class="col-md-6 text-center"> <!-- Texto à esquerda em telas médias e grandes -->
            <h2>Olá, <span th:text="${nome}"></span>!</h2>
        </div>
    </div>
</div>
<div class="custom-form">
    <div class="row">
        <div class="col-md-6 text-right">
            <div class="button-container_1">
                <div class="home-content__button">
                    <!-- Formulário para logout -->
                    <form action="/logout" method="post">
                        <input class="btn--primary full-width" type="submit" value="Sair">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row form-wrapper">
    <div class="col-six tab-full">
        <h3>Chamados Abertos</h3>
        <div class="table-responsive">
            <table class="custom-table" style="width: 100%;">
                <thead>
                <tr>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Data de início</th>
                    <th>Prioridade</th>
                    <th>Chamado</th> <!-- Mudança de "Detalhes" para "Chamado" -->
                </tr>
                </thead>
                <tbody>
                <tr th:each="chamado : ${chamadosEmAberto}">
                    <td th:text="${chamado.titulo}"></td>
                    <td th:text="${chamado.descricao}"></td>
                    <td th:text="${chamado.dataRegistroAtualizada}"></td>
                    <form action="/atender-chamado" method="post">
                        <td>
                            <label>
                                <select name="prioridade" required>
                                    <option></option>
                                    <option value="ALTA" style="color: black;">Alta</option>
                                    <option value="MEDIA" style="color: black;">Média</option>
                                    <option value="BAIXA" style="color: black;">Baixa</option>
                                </select>
                            </label>
                        </td>
                        <td class="text-center">
                            <input type="hidden" name="chamadoId" th:value="${chamado.ticketId}">
                            <div class="home-content__button" style="margin-top: 0.5rem;">
                                <input class="btn--primary full-width" type="submit" value="Atender Chamado">
                            </div>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <h3>Chamados Atribuídos</h3>
        <div class="table-responsive">
            <table class="custom-table">
                <thead>
                <tr>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Data de início</th>
                    <th>Prioridade</th>
                    <th>Status</th>
                    <th>Detalhes</th>
                </tr>
                </thead>
                <tbody>
                <!-- Iterar sobre os chamados atribuídos -->
                <tr th:each="chamado : ${chamadosAtribuidos}">
                    <td th:text="${chamado.titulo}"></td>
                    <td th:text="${chamado.descricao}"></td>
                    <td th:text="${chamado.dataRegistroAtualizada}"></td>
                    <td>
                        <select required>
                            <option></option>
                            <option value="alta" style="color: black;">Alta</option>
                            <option value="media" style="color: black;">Média</option>
                            <option value="baixa" style="color: black;">Baixa</option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option></option>
                            <option value="finalizado" style="color: black;">Finalizado</option>
                            <option value="Aberto" style="color: black;">Aberto</option>
                            <option value="Em atendimento" style="color: black;">Em atendimento</option>
                        </select>
                    </td>
                    <td class="text-center">
                        <div class="home-content__button" style="margin-top: 0.5rem;">
                            <input class="btn--primary full-width" type="submit" value="Visualizar">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Java Script ================================================== -->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>

</body>
</html>
