<!DOCTYPE html>
<html class="no-js" lang="pt-br">
<head>
    <!--- basic page needs ================================================== -->
    <meta charset="utf-8">
    <title>ChamaElas</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- mobile specific metas ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS ================================================== -->
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/vendor.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- script ================================================== -->
    <script src="js/modernizr.js"></script>
    <!-- favicons ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body id="top">
<!-- preloader ================================================== -->
<div id="preloader">
    <div id="loader" class="dots-jump">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- header ================================================== -->
<header class="s-header">
    <nav class="header-nav">
        <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>
        <h3>Menu</h3>
        <div class="header-nav__content">
            <ul class="header-nav__list">
                <li><a class="smoothscroll" href="#home" title="home">Início</a></li>
                <li><a class="smoothscroll" href="#about" title="about">Sobre nós</a></li>
                <li><a class="smoothscroll" href="#services" title="services">Sistema</a></li>
                <li><a class="smoothscroll" href="#contact" title="contact">Contato</a></li>
            </ul>
            <p>© 2024 ChamaElas. Todos os direitos reservados.</p>
        </div> <!-- end header-nav__content -->
    </nav> <!-- end header-nav -->
    <a class="header-menu-toggle" href="#0">
        <span class="header-menu-icon"></span>
    </a>
</header> <!-- end s-header -->


<div class="container">
    <div class="row">
        <div class="col-md-6 text-center"> <!-- Texto à esquerda em telas médias e grandes -->
            <h2>Olá ....!</h2>
        </div>
        <div class="col-md-6 text-right">
            <div class="button-container"> <!-- Div separada para os botões -->
                <div class="home-content__button">
                    <input class="btn--primary full-width" type="submit" value="Novo chamado">
                </div>
                <div class="home-content__button">
                    <input class="btn--primary full-width" type="submit" value="Sair">
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row form-wrapper">
    <div class="col-six tab-full">
        <h3>Chamados Abertos</h3>
        <div class="table-responsive">
            <table class="custom-table" style="width: 100%;">
                <thead>
                <tr>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Prioridade</th>
                    <th>Data de início</th>
                    <th>Status</th>
                    <th>Detalhes</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <h3>Chamados Finalizados</h3>
        <div class="table-responsive">
            <table class="custom-table">
                <thead>
                <tr>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Prioridade</th>
                    <th>Data de início</th>
                    <th>Status</th>
                    <th>Detalhes</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- end row -->
<!-- Java Script ================================================== -->
<script src="../templates/js/jquery-3.2.1.min.js"></script>
<script src="../templates/js/plugins.js"></script>
<script src="../templates/js/main.js"></script>
</body>
</html>
